# -----------------------------------------------------------------------------
# SERVER CONFIGURATION
# -----------------------------------------------------------------------------
# Mod seçenekleri: debug, release, test
GIN_MODE=release
PORT=8080

# -----------------------------------------------------------------------------
# DATABASE (PostgreSQL)
# -----------------------------------------------------------------------------
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your-password
DB_NAME=your-db-name
DB_SSLMODE=disable

# REDIS_ADDR=localhost:6379
# REDIS_USERNAME=
# REDIS_PASS=
# REDIS_DB=0

# -----------------------------------------------------------------------------
# AUTHENTICATION (JWT)
# -----------------------------------------------------------------------------

#`openssl rand -hex 32` yazarak üret.
# JWT_ACCESS_SECRET=
# TOKEN_ISSUER=

# -----------------------------------------------------------------------------
# COOKIES
# -----------------------------------------------------------------------------

COOKIE_DOMAIN=localhost
COOKIE_SECURE=false
COOKIE_HTTP_ONLY=true
COOKIE_SAME_SITE=Lax

# -----------------------------------------------------------------------------
# OBJECT STORAGE (R2 / S3)
# -----------------------------------------------------------------------------

# R2_ACCOUNT_ID=
# R2_ACCESS_KEY_ID=
# R2_ACCESS_KEY_SECRET=
# R2_BUCKET_NAME=
# R2_ENDPOINT=
# R2_PUBLIC_URL_BASE=
