Host *
    AddKeysToAgent yes
    UseKeychain yes

Host vps-root
    HostName IP=V4
    User root
    IdentityFile ~/.ssh/vps_ed25519_key
    ServerAliveInterval 60

Host yup-tunnel
    HostName IP=V4
    User root
    IdentityFile ~/.ssh/vps_ed25519_key
    LocalForward 5433 127.0.0.1:5432
    ExitOnForwardFailure yes
