Host *
    AddKeysToAgent yes
    UseKeychain yes

Host vps-root
    HostName <vps-ip-address-v4>
    User root
    IdentityFile ~/.ssh/some_cloud_service_name_vps
    ServerAliveInterval 60

Host vps-tunnel
    HostName <vps-ip-address-v4>
    User root
    IdentityFile ~/.ssh/some_cloud_service_name_vps
    LocalForward 5433 127.0.0.1:5432
    ExitOnForwardFailure yes
